:{$PORT}

root * /usr/share/caddy
encode gzip zstd
try_files {path} /index.html
file_server

header {
  X-Content-Type-Options "nosniff"
  Referrer-Policy "strict-origin-when-cross-origin"
  X-Frame-Options "DENY"
}
